<div class="container-fluid">
  <div class="jumbotron">
    <h1>CSV to LineChart</h1> 
  </div>
  <header>
    <div>
      <h3>Please select a csv file from your computer.</h3>
    </div>
    <form>
      <div>
        <label><input id="FileReader" type="file" accept=".csv" (change) = "fileReadListener($event)"/></label>
      </div>
    </form>
  </header>
  <section [hidden]="!showLineChart">
   <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [timeline]="timeline"
      (select)="onSelect($event)">
    </ngx-charts-line-chart>
  </section>
</div>